@page
@model Vulcanizare.WEB.Pages.Appointments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ServiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ServiceDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServiceDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ServicePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServicePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Tire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Tire.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Appointment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
