@page
@model Vulcanizare.WEB.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ServiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServiceType)
        </dd>
        <dt class="col-sm-2">
            @{
                var serviceType = Model.Appointment.ServiceType;
                var label = serviceType == "TireStorageinaTireHotel" ? "ServiceDuration (in years)" : "ServiceDuration (in minutes)";
            }
            @Html.DisplayName(label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServiceDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ServicePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServicePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Tire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Tire.Brand)
            @Html.DisplayFor(model => model.Appointment.Tire.Model)
            @Html.DisplayFor(model => model.Appointment.Tire.TireType)
            @Html.DisplayFor(model => model.Appointment.Tire.Season)
            @Html.DisplayFor(model => model.Appointment.Tire.Width)
            @Html.DisplayFor(model => model.Appointment.Tire.Diameter)
            @Html.DisplayFor(model => model.Appointment.Tire.Profile)
            @Html.DisplayFor(model => model.Appointment.Tire.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>


